<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notesapp">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_list_alt_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesApp">
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NoteOpen"
            android:exported="false" />
        <activity
            android:name=".AddnotesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>